@font-face {
    font-family: "Contax W01 75 Bold";
    src: url("contax/56ef01366420a34382836f95ac18a301.eot");
    /* IE9*/
    src: url("contax/56ef01366420a34382836f95ac18a301d41d.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("contax/56ef01366420a34382836f95ac18a301.woff2") format("woff2"), /* chrome、firefox */
    url("contax/56ef01366420a34382836f95ac18a301.woff") format("woff"), /* chrome、firefox */
    url("contax/56ef01366420a34382836f95ac18a301.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("contax/56ef01366420a34382836f95ac18a301.svg#Contax W01 75 Bold") format("svg");
    /* iOS 4.1- */
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    color: #4E5356;
    font-family: "akkurat_lightregular", Tahoma, Geneva, sans-serif;
    font-size: 13px;
    margin: 0 auto;
    /*background: @backGroundBody;*/
    overflow-x: hidden;
    padding-top: 105px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    /*color: #333;
      font-family: "akkuratbold", Tahoma, Geneva, sans-serif;*/
    line-height: 150%;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
}

p, span, a {
    margin: 0;
    padding: 0;
    line-height: 150%;
    font-family: "akkuratregular", Tahoma, Geneva, sans-serif;
    color: #5a5a5a;
    font-size: 13px;
}

p {
    text-align: justify;
    font-family: "akkuratregular", Tahoma, Geneva, sans-serif;
}

a {
    color: #000;
    outline: none;
}

a:hover, a:focus {
    color: #2d2d2d;
    outline: none;
}

a img {
    border: 0 none;
}

img {
    max-width: 100%;
    height: auto;
}

.ulList {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    list-style: none;
}

.ulList li:before {
    content: initial;
}

.clear {
    clear: both;
    float: none;
}

.width {
    width: 100%;
    max-width: 1170px !important;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.editorContent {
    font-size: 13px;
    font-family: "akkuratregular", Tahoma, Geneva, sans-serif;
}

.editorContent p, .editorContent span, .editorContent a {
    font-size: 13px;
    font-family: "akkuratregular", Tahoma, Geneva, sans-serif;
}


/*
nav#nav {
        border: 0 none;
        -webkit-border-radius: 0 0 0 0;
        -moz-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
        margin-bottom: 0;
}
nav#nav a {
        font-family: "akkuratregular", Tahoma, Geneva, sans-serif;
}
nav#nav button.navbar-toggle {
        background-image: linear-gradient(to bottom, #2d2d2d, #141414);
        border-color: #000000;
        margin-right: 0;
}
nav#nav .navbar-toggle .icon-bar {
        background-color: #fff;
}
nav#nav .navbar-collapse {
        padding: 0;
}
nav#nav .navbar-nav {
        float: none;
        text-align: right;
}
nav#nav .navbar-nav > li, nav#nav .mainMenu {
        display: inline-block;
        float: none;
}
nav#nav .navbar-nav > li > a, nav#nav .mainMenu > a {
        color: #2d2d2d;
        padding: 5px 10px;
        font-size: 20px;
}
nav#nav .navbar-nav > li:hover > a, nav#nav .mainMenu:hover > a, nav#nav .navbar-nav > li:focus > a, nav#nav .navbar-nav > li:hover > a, nav#nav .mainMenu > a:hover, nav#nav .navbar-nav > li > a:focus {
        background: none;
        color: #848484;
}
nav#nav .navbar-nav > .active > a, nav#nav .navbar-nav > .active > a:focus, nav#nav .navbar-nav > .active > a:hover {
        background: #515352;
        color: #fff;
}
nav#nav .btn-navbar:hover, nav#nav .btn-navbar:focus, nav#nav .btn-navbar:active, nav#nav .btn-navbar.active, nav#nav .btn-navbar.disabled, nav#nav .btn-navbar[disabled] {
        background: none;
        color: #848484;
}
.subMenuHolder {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        z-index: 2;
        background: rgba(214, 214, 214, 0.7);
        text-align: left;
        display: none;
}
.subMenuHolder ul > .subMenu {
        display: block;
}
.subMenuHolder ul > .subMenu a {
        font-size: 16px;
        color: #333;
        padding: 10px 15px;
        display: block;
}
.subMenuHolder ul > .subMenu > a {
        width: 16.6667%;
        float: left;
}
.subMenuHolder ul > .subMenu:hover > a {
        text-decoration: underline;
        background-color: #d6d6d6;
}
.subMenuHolder ul > .subMenu:hover > .subMenuHolder {
        background-color: #d6d6d6;
}
.navbar-nav li:hover > .subMenuHolder, .mainMenu:hover > .subMenuHolder {
        display: block;
}
.subMenuHolder .subMenuHolder {
        position: static;
        display: block;
        width: 83.3333%;
        float: left;
        background: none;
}
.subMenuHolder .subMenuHolder ul > .subMenu {
        display: inline-block;
}
.subMenuHolder .subMenuHolder ul > .subMenu a {
        font-size: 14px;
        float: none;
        width: auto;
        line-height: 24px;
}*/

.headTitle {
    font-size: 35px;
    margin-bottom: 5px;
    color: #4E5356;
}

.subTitle {
    font-size: 20px;
    margin-bottom: 20px;
    color: #4E5356;
}

.contentWithBG>div {
    padding-left: 100px;
}

.learn-more {
    text-align: right;
    margin: 20px 0;
}

.learn-more a {
    font-weight: bold;
    font-size: 17px;
    border-bottom: 1px solid;
    text-decoration: none;
}


/************form************/

textarea, select, input[type=""], input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    /*box-shadow:none; border:0 none; -webkit-border-radius:0px; -moz-border-radius:0px; border-radius:0px;*/
    font-family: "akkurat_lightregular", Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

textarea:focus, select:focus, input[type=""]:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    /*box-shadow:none; border:0 none;*/
}

.label {
    display: block;
    padding: 0;
    margin: 10px 0;
}

input.inputText {
    width: 100%;
    padding: 5px 3% !important;
    color: #9e9e9e;
    line-height: 200%;
}

select.select {
    width: 100%;
    padding: 10px 3% !important;
    color: #9e9e9e;
    /*border: 0 none; margin-top: 20px;*/
}

textArea.textArea {
    width: 100%;
    padding: 10px 3%;
    resize: vertical;
    height: 100px;
    color: #9e9e9e;
}

input.btn {
    /*background: #848484;
      color: #fff;
      font-family: "akkuratregular", Tahoma, Geneva, sans-serif;
      font-size: 14px;
      border: 0 none;
      padding: 5px 15px;
      -webkit-border-radius: 0 0 0 0;
      -moz-border-radius: 0 0 0 0;
      border-radius: 0 0 0 0;
      margin: 20px 0 0;*/
}

.validate {
    color: #ea0327 !important;
    font-weight: bold;
}

.validate .inputText, .validate .select, .validate .textArea {
    color: #ea0327;
    border: 1px #ea0327 solid;
}

.tableHolder {
    overflow-x: auto;
    margin: 10px 0;
}


/************Header************/

.container-fluid {
    max-width: 1500px;
    margin: 0 auto;
}

.headTitleHolder {
    margin: 15px auto;
    text-align: center;
    overflow: hidden;
}

.headTitleHolder .headTitle:before, .headTitleHolder .headTitle:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 200px;
    border-top: 3px solid #4E5356;
}

.headTitleHolder .headTitle {
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 0 30px;
    font-weight: bold;
}

.headTitleHolder .headTitle:before {
    left: 100%;
}

.headTitleHolder .headTitle:after {
    right: 100%;
}

#header {
    background: #f0f0f0 url("../images/bg_body.png");
}

#header, #header * {
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 111111;
}

header .logoHolder {
    padding: 30px 0;
    float: left;
    width: 230px;
}

header.sticky .logoHolder {
    /*width: 100px;*/
    padding: 13px 0;
}

header nav {
    /*overflow: hidden;*/
    text-align: center;
    margin-top: 45px;
}

header.sticky nav {
    margin-top: 30px;
}

header.sticky .topLinks {
    margin: 23px 0;
}

.main-menu {
    padding: 0;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
}

.main-menu>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.main-menu>ul>li {
    float: left;
    margin: 0 10px;
    position: relative;
}

.main-menu>ul>li.active>a {
    text-decoration: none;
    border-bottom: 2px solid !important;
}

.main-menu>ul>li:hover>a {
    text-decoration: none;
    border-bottom: 1px solid;
}

.main-menu li a {
    color: #4E5356;
}

.main-menu li a .caret {
    display: none;
}

.main-menu>ul>li>ul {
    position: absolute;
    z-index: 11;
    background: rgba(248, 248, 248, 0.9);
    border: 1px solid #4E5356;
    padding: 10px 5px;
    margin: 0;
    list-style: none;
    width: 200px;
    margin-top: 10px;
    left: 50%;
    margin-left: -100px;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}

.main-menu>ul>li:hover>ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.main-menu>ul>li>ul:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-width: 0px 10px 10px;
    border-style: solid;
    border-color: #4E5356 transparent;
    display: block;
    width: 0;
}

.main-menu>ul>li>ul:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    top: -9px;
    left: 50%;
    margin-left: -10px;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: rgba(248, 248, 248, 0.9) transparent;
}

.main-menu li>ul a {
    padding: 4px 2px;
    display: block;
}

.main-menu>ul>li>ul>li>a {
    font-weight: bold;
    /*font-size: 14px;*/
    text-transform: uppercase;
}

.main-menu>ul>li>ul>li>a:before {
    /*content: "-";*/
}

.main-menu>ul>li>ul>li>ul {
    padding: 0;
    list-style: none;
}

.main-menu>ul>li>ul>li>ul>li>ul {
    padding: 0;
    list-style: none;
}

.main-menu>ul>li>ul>li>ul>li.dropdown>a {
    font-weight: bold;
}

.topLinks {
    float: right;
    margin: 40px 0;
}

.topLinks ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.topLinks li {
    float: left;
    position: relative;
    margin-left: 10px;
}

.topLinks li a {
    display: block;
    padding-left: 20px;
    height: 25px;
    line-height: 25px;
    color: #4E5356;
    text-decoration: none;
}

.topLinks li.phone a {
    background: url(../images/icon/phone.png) no-repeat center left / 20px;
    color: #3A3A3A;
    font-size: 22px;
}

.topLinks li.facebook a {
    background: url(../images/icon/facebook.png) no-repeat center / 12px;
    padding-left: 15px;
}

.topLinks li.youtube a {
    background: url(../images/icon/youtube.png) no-repeat center / 22px;
    padding-left: 15px;
}

.topLinks li.twitter a {
    background: url(../images/icon/twitter.png) no-repeat center / 20px;
    ;
}

.topLinks li.instagram a {
    background: url(../images/instagram-header.png) no-repeat center / 20px;
    ;
}

.topLinks li.search a {
    background: url(../images/icon/search.png) no-repeat left 3px / 15px;
    ;
}

#headerSearch {
    position: absolute;
    right: 0;
    z-index: 10;
    width: 270px;
}

#headerSearch .form-control {
    width: 200px;
    float: left;
    border-radius: 0;
}


/*
.topLinks a {
        background: url("../images/icon-social.png") no-repeat;
        display: block;
        overflow: hidden;
        line-height: 25px;
}
.topLinks .searchIcon {
        margin: 7px 25px 0 0;
        padding-right: 25px;
        position: relative;
}
.topLinks .searchIcon:after {
        content: "";
        position: absolute;
        right: 0;
        top: 3px;
        bottom: 3px;
        border-right: 1px solid #2d2d2d;
}
.topLinks .searchIcon a {
        background-position: 0 -205px;
        text-indent: -1000px;
        width: 30px;
}
.topLinks .socialIcon {
        margin-top: 7px;
        padding: 0 3px;
}
.topLinks .socialIcon a {
        text-indent: -1000px;
        width: 30px;
}
.topLinks .socialIcon.facebook a {
        background-position: 0 -115px;
}
.topLinks .socialIcon.twitter a {
        background-position: 0 -39px;
}
.topLinks .socialIcon.youtube a {
        background-position: 0 0;
}
.topLinks .socialIcon.linkedIn a {
        background-position: 0 -78px;
}
.topLinks .socialIcon a {
        background-position: 0 0;
        text-indent: -1000px;
}
.topLinks .contactIcon {
        margin: 0 0 0 25px;
        padding-left: 25px;
        position: relative;
}
.topLinks .contactIcon:before {
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        bottom: 6px;
        border-left: 1px solid #2d2d2d;
}
.topLinks .contactIcon a {
        background-position: 0 -160px;
        padding-left: 30px;
        line-height: 35px;
        font-weight: bold;
        font-size: 24px;
        font-family: "Contax W01 75 Bold";
}*/

#banner {
    max-height: 450px;
    overflow: hidden;
}

#banner .owl-item {
    max-height: 450px;
    overflow: hidden;
}

#banner .caption {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
}

#banner h1 {
    font-size: 60px;
    color: #fff;
    text-align: center;
}

#banner p {
    text-align: center;
    color: #fff;
    font-size: 21px;
}

.contentWithBG {
    padding: 61px 0 67px 16.6667%;
    background: #fff url("../images/contentWithBG.jpg") repeat-y 0 0;
    background-size: 16.6667% auto;
}

.contentWithBG.homePage {
    padding-top: 20px;
}

.contentWithBGInner {
    padding: 30px 0 45px 16.6667%;
    background: #fff url("../images/pattern.png") no-repeat 0 0;
    /*background-size: 7.6667% auto;
      background-repeat: repeat-y;*/
}

.MinHeight {
    min-height: 500px;
}

.Input {
    padding: 10px;
    margin-bottom: 20px;
    border: solid #ccc 1px;
}

#Form {
    margin-top: 30px;
}

.BrochureName {
    padding: 4px 0;
    font-weight: bold;
    font-size: 14px;
}

.BrochureName i {
    float: right;
    cursor: pointer;
}

.image-holder {
    position: relative;
}

.image-holder a {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: url(../images/download.png) no-repeat center rgba(78, 83, 86, 0.7);
    opacity: 0;
    transition: opacity ease 0.2s;
    -webkit-transition: opacity ease 0.2s;
    -moz-transition: opacity ease 0.2s;
}

.BrochureItem:hover .image-holder a {
    opacity: 1;
}

#Breadcrumps {
    background: #525252;
    padding: 5px;
    color: #fff;
}

#Breadcrumps a {
    color: #fff;
    padding: 0 10px;
}

.CatItem {
    margin-top: 20px;
}

.CatDate {
    float: right;
}

.CatTitle {
    background: #66798a;
    padding: 10px;
    margin: 10px 0;
    color: #fff;
}

.CatBrief {}

.projectsSec {
    padding: 60px 0 0 0;
    margin: 0 -3px;
    position: relative;
    background: url("../images/bg_body.png") 0;
}

.projectsSec p {
    text-align: center;
    font-size: 20px;
}

.projectsSec #owl-projects {
    margin: 80px auto 20px;
}

.projectsSec .owl-pagination {
    display: none;
}

.projectsSec .owl-item {
    padding-bottom: 0;
}

.projectsSec .item {
    padding: 10px 20px 0;
    position: relative;
}

.projectsSec .item img {
    -ms-filter: "progid:DXImageTransform.Microsoft.grayscale(80%)";
    filter: grayscale(80%);
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.projectsSec .current img {
    -ms-filter: "progid:DXImageTransform.Microsoft.grayscale(0%)";
    filter: grayscale(0%);
    opacity: 1;
    filter: alpha(opacity=100);
}

.projectsSec .current .item {
    padding: 0 0 5px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.8);
    z-index: 3;
}

.full-bg {
    background: #F1F1F1 url("../images/bg_body.png");
}

#footer {
    background: #F1F1F1 url("../images/bg_footer.png");
    padding: 30px 25px;
    border-top: 10px #fff solid;
}

#footer .logoHolder {
    padding: 0;
    width: 150px;
    opacity: 0.7;
    max-width: 100%;
}

#footer .topLinks {
    margin: 0 0 5px;
    width: 100%;
}

#footer .topLinks li.phone a {
    font-size: 20px;
}

#footer .headTitle {
    font-size: 12px;
    font-family: "akkurat_lightregular", Tahoma, Geneva, sans-serif;
}

#footer li a {
    /*font-size: 12px;*/
}

#footer .ulList li {
    margin: 5px 0;
}

#footer .ulList li:last-child {
    margin-bottom: 0;
}

.contactfooter {
    margin-bottom: 10px;
}

.contactfooter a {
    display: block;
    background: url("../images/contactus-footer.png") no-repeat;
    padding-left: 38px;
    line-height: 62px;
    font-size: 53px !important;
    font-family: "Contax W01 75 Bold";
}

.socialIconFooter {
    margin-right: 15px;
    float: left;
}

.socialIconFooter:last-child {
    margin-right: 0;
}

.socialIconFooter a {
    display: block;
    width: 53px;
    height: 53px;
    background-image: url("../images/icon-social-footer.png");
    background-repeat: no-repeat;
}

.socialIconFooter.google a {
    background-color: #e90000;
    background-position: 6px center;
}

.socialIconFooter.facebook a {
    background-color: #3b5999;
    background-position: -155px center;
}

.socialIconFooter.twitter a {
    background-color: #00bbf5;
    background-position: -70px center;
}

.ContactItem {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ContactItem h6 {
    margin: 15px 0 10px 0;
}

.ContactItem span {
    padding: 0 44px;
    text-align: center;
    display: inline-block;
}

.ContactItem img {
    margin: 0px;
}

#Subscribe {
    background: #525252;
    width: 100%;
    padding: 0px;
    text-align: center;
    padding: 100px 0;
    position: relative;
    margin-bottom: 50px;
}

#Subscribe span {
    color: #fff;
    margin: 30px 0;
    display: inline-block;
    font-size: 18px;
}

#SubscribeInput {
    padding: 10px;
}

#SubscribeSubmit {
    background: #aeffde;
    color: #535250;
    border: none;
    font-size: 18px;
    padding: 9px 0;
}

#SubscribeRT, #SubscribeLT {
    top: 50px;
}

#SubscribeRT {
    position: absolute;
    right: 0px;
    width: 30px;
}

#SubscribeLT {
    position: absolute;
    left: 0px;
    width: 30px;
}

#SubscribeTitle {
    /*margin-top: 40px;*/
    margin-bottom: 40px;
}

@media (min-width: 992px) {
    nav li a {
        /*font-size: 19px !important;*/
    }
}


/*@media (min-width: 992px) and (max-width: 1199px) {}}
 @media (min-width: 768px) and (max-width: 991px) {}
 @media (max-width: 480px) {}*/

.RowItem {
    margin-top: 20px;
}

.ReadMore {
    background: #525252;
    float: right;
    color: #fff;
    padding: 2px;
    margin: 10px;
}

.slider {
    width: 100%;
    margin: 100px auto;
    position: relative;
}


/* .slick-prev:before, .slick-next:before { color: black; }*/

.Item {
    position: relative;
    top: 30px;
}

.Item img {
    opacity: 0.6;
}

.ItemTitle {
    position: relative;
    margin-top: -52px;
    border-top: 4px solid #fff;
    color: #fff;
    width: 100%;
    padding: 10px;
    z-index: 9999;
    font-size: 20px;
}

.Item .ItemInner {
    width: 80%;
    margin: auto;
}

.slick-active .ItemInner {
    width: 90%;
    margin: auto;
}

.center .slick-center {
    top: 0px !important;
}

.center .slick-center img {
    opacity: 1;
}

.center .slick-center .ItemInner {
    width: 100%;
    margin: auto;
}

.search #ContactSubmit {
    background: #3A3A3A;
    color: #FFFFFF;
    border: 0px;
    float: right;
    width: 70px;
    height: 34px;
    line-height: 34px;
}

#carousel {
    width: 200%;
    left: -50%;
    height: 400px;
    position: relative;
    clear: both;
    overflow: hidden;
}

@media (max-width: 767px) {
    #carousel {
        display: none;
    }
}

#carousel div {
    visibility: hidden;
    cursor: pointer;
}

#carousel h2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    color: #Fff;
    border-top: solid 3px;
    width: 95%;
    font-size: 20px;
}


/*
nav li li {
        border-top: solid 1px rgba(101, 99, 99, 0.35);
        padding: 7px 2px;
}
nav li li:hover {
}
.dropdown-submenu {
        position: relative;
}
.dropdown-menu {
        width: 100%;
}
.dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
        display: block;
}
.dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: left;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 5px;
        margin-left: -10px;
}
.dropdown-submenu:hover a:after {
        left: -11px;
        position: relative;
}
.dropdown-submenu:hover > a:after {
        border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
        float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
}*/

#prev, #next {
    width: 60px;
    height: 209px;
    position: absolute;
    top: 95px;
    opacity: 0;
    z-index: 9;
    display: none;
}

#prev {
    background: url(../images/SliderLT.png) no-repeat;
    left: 0px;
}

#next {
    background: url(../images/SliderRT.png) no-repeat;
    right: 0px;
}


/*nav*/

nav.sidebar, .main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.main {
    padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {
    .main {
        position: absolute;
        width: calc(100% - 40px);
        margin-left: 40px;
        float: right;
    }
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }
    nav.sidebar a {
        padding-right: 13px;
    }
    nav.sidebar .navbar-nav>li:first-child {
        /*border-top: 1px #e5e5e5 solid;*/
        border-left: none;
    }
    nav.sidebar .navbar-nav>li {
        /*border-left: 1px #e5e5e5 solid;*/
    }
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }
    nav.sidebar {
        /*width: 200px;
            height: 100%;
            float: left;*/
        margin-bottom: 10px;
    }
    nav.sidebar li {
        /*width: 100%;*/
    }
    nav.sidebar:hover {
        margin-left: 0px;
    }
    .forAnimate {
        opacity: 0;
    }
}

@media (min-width: 1330px) {
    .main {
        width: calc(100% - 200px);
    }
    nav.sidebar {
        margin-left: 0px;
        float: left;
    }
    nav.sidebar .forAnimate {
        opacity: 1;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate {
    opacity: 1;
}

section {
    padding-left: 15px;
}

#SideNav {
    float: none !important;
    height: 100px;
    background: none;
    border: none;
}

#SideNav.stickSide>div {
    position: fixed;
    top: 71px;
    left: 0;
    width: 100%;
    z-index: 11;
}

#SideNav.stickSide ul li a {
    padding: 10px 20px;
}

#SideNav.stickSide .navbar-collapse {
    height: 80px !important;
}

#SideNav .navbar-collapse {
    transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    border: 0;
}

#SideNav>div {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

#SideNav ul li {
    /*background: #ffffff;*/
}

#SideNav ul li:hover {
    background: #FFFFFF;
}

#SideNav ul li.active a {
    background: #FFFFFF;
}

#SideNav ul li a {
    font-size: 15px !important;
    color: #525252;
    padding: 20px;
    transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
}

#SideNav ul li a div {
    height: 30px;
    position: relative;
    margin-bottom: 10px;
}

#SideNav ul li img {
    max-height: 25px;
    max-width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: #f3f3f3;
}

#MasterPlan {
    margin-top: 30px;
    position: relative;
}

#MasterPlan>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
}

#MasterPlan #MasterPlanPhoto {
    position: static;
}


/*
#Apartments {
        position: absolute;
        top: 1px;
        right: 4px;
        width: 96%;
}
#Hospital {
        position: absolute;
        top: -19px;
        right: -16px;
}
#Villas {
        position: absolute;
        top: 2px;
        right: 20px;
        width: 95%;
}
#Nursery {
        position: absolute;
        top: -19px;
        right: -16px;
}
#Retail {
        position: absolute;
        top: -10px;
        right: -14px;
}
#Schools {
        position: absolute;
        top: 0;
        right: 9px;
        width: 96%;
}
#Offices {
        position: absolute;
        top: 0;
        right: 0;
        width: 96%;
}
#ClubHouse {
        position: absolute;
        top: 0;
        right: 18px;
        width: 95%;
}
#Countryclub {
        position: absolute;
        top: 0;
        right: 0;
        width: 98%;
}
#Sportingclub {
        position: absolute;
        top: -7px;
        right: 0px;
}
#Gasstation {
        position: absolute;
        top: -19px;
        right: -16px;
}*/

.MasterItem {
    display: none;
}

.Links {
    cursor: pointer;
}

.ShowMasterItem {
    display: block;
}

.ContactItem {
    margin: 10px 0;
    text-align: left;
    min-height: 50px;
}

.ContactItem img {
    margin: 10px;
}

.BrochureItem {
    margin-top: 20px;
}

ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
}

@media (min-width: 979px) {
    ul.nav li.dropdown:hover>ul.dropdown-menu {
        display: block;
    }
}

.SearchItem {
    color: #ccc;
}

.SearchLink {
    color: #00F;
}

.SearchTitle {
    color: #ccc;
}

.SearchItem span {
    color: #ccc;
}

#Message {
    position: fixed;
    width: 100%;
    top: 200px;
    background: #525252;
    color: #fff;
    z-index: 1
}

@media (min-width: 768px) {
    #SideNav .navbar-collapse {
        height: 100px !important;
    }
    #SideNav .navbar-collapse {
        text-align: center;
    }
    #SideNav ul {
        float: none;
        display: inline-block;
    }
}

@media (max-width: 767px) {
    header {
        position: relative;
    }
    header nav {
        margin-top: 35px;
        float: right;
    }
    header.sticky nav {
        margin-top: 15px;
    }
    .navbar-toggle {
        /*border: 1px solid #4e5356;*/
        border-radius: 0;
        margin: 0;
    }
    .navbar-toggle .icon-bar {
        background: #4f5457;
    }
    .main-menu {
        position: absolute;
        /*overflow: visible !important;*/
        height: 400px;
        overflow-y: auto;
        left: 0;
        right: 0;
        top: 100%;
        z-index: 11;
        background: rgba(248, 248, 248, 0.9);
        border: 1px solid #4E5356;
        padding: 10px 5px;
        margin: 0;
    }
    .main-menu>ul {
        display: block;
    }
    .main-menu>ul>li {
        float: none;
        margin: 0;
    }
    .main-menu>ul>li+li {
        border-top: 1px solid #BBBBBB;
        padding-top: 10px;
    }
    .main-menu>ul>li>a {
        display: inline-block;
        padding: 5px;
    }
    #headerSearch {
        margin: 10px -50px 0 0;
    }
    .contentWithBG>div {
        padding-left: 10px;
    }
    #footer {
        padding-right: 0;
        padding-left: 0;
    }
    #footer .logoHolder {
        margin-bottom: 20px;
        text-align: center;
    }
    #footer .col-sm-8 [class^="col-"] {
        float: left;
        width: 50%;
        margin-bottom: 5px;
    }
    #footer .logoHolder img {
        width: 200px;
        max-width: 100%;
    }
    #footer .topLinks {
        margin-top: 20px;
    }
    #footer .topLinks ul {
        float: none;
    }
    #footer .text-right {
        text-align: left;
    }
    .main-menu>ul>li>ul {
        position: static;
        background: none;
        opacity: 1;
        visibility: visible;
        width: 100%;
        border: none;
        margin: 0;
    }
    .main-menu>ul>li>ul:before, .main-menu>ul>li>ul:after {
        display: none;
    }
    #SideNav {
        height: auto;
    }
    .navbar-header {
        float: right;
    }
    #SideNav>div {
        min-height: 35px;
    }
    #SideNav .navbar-nav {
        margin: 0;
    }
    #SideNav ul li {
        margin-bottom: 2px;
    }
    #SideNav ul li a {
        padding: 5px 10px;
        line-height: 30px;
    }
    #SideNav ul li a div {
        width: 30px;
        margin: 0;
        float: left;
    }
    #SideNav .navbar-collapse {
        height: 150px;
    }
}

@media (max-width: 540px) {
    body {
        padding-top: 146px;
    }
    header .logoHolder {
        width: 100%;
        text-align: center;
    }
    header .logoHolder img {
        max-width: 160px;
    }
    header.sticky .logoHolder {
        width: 200px;
        text-align: left;
    }
    header nav {
        float: left;
        margin: 10px 0;
    }
    header .topLinks {
        margin: 15px 0;
    }
    header.sticky .topLinks {
        display: none;
    }
    header.sticky nav {
        float: right;
    }
    .topLinks li {
        position: static;
    }
    #headerSearch {
        top: 100%;
        margin: 10px 0 0 0;
        right: 10px;
    }
    .contentWithBGInner {
        background: none;
        /*padding: 0 15px;*/
        padding: 0;
    }
    #SideNav.stickSide>div {
        top: 58px;
    }
}

.title {
    margin: 0 0 30px;
}

.media-p, .hyde-park-media-p {
    margin-bottom: 20px;
    width: 100%;
}

.hyde-park-media-p>div>p, .hyde-park-media-p>div>p>span {
    font-size: 18px;
}

.media-p>img, .hyde-park-media-p>img {
    float: left;
    margin-right: 15px;
}

.hyde-park-media-p>img {
    max-width: 55px;
    display: none;
}

.hyde-park-media-p .headTitleHolder {
    margin-bottom: 50px;
}

.media-p>div {
    overflow: hidden;
    margin-left: 60px;
}

.hyde-park-media-p h3 {
    font-size: 30px;
    line-height: normal;
    margin-bottom: 10px;
}

.media-p h3 {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group label {
    font-weight: normal;
}

input[type='text'], input[type='email'], textarea {
    padding: 10px;
    width: 100%;
    max-width: 100%;
    border: solid #ccc 1px;
    resize: none;
}

.radio {
    display: inline-block;
    margin: 10px 0;
}

.radio:first-child {
    margin-right: 30px;
}

.radio input {
    margin: 0 !important;
}

.form-group>div>input[type='text'] {
    width: calc(100% - 100px);
    float: left;
}

.newsletterform .form-group>div>select {
    padding: 10px;
    width: 90px;
    margin-right: 10px;
    float: left;
}

.btn-container {
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.btn {
    background: #4E5356;
    width: 100%;
    border-radius: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 50px;
}

.btn:hover {
    background: #000;
    color: #FFFFFF;
}

.contact-info-section {
    margin: 50px 0;
}

.contact-info {
    padding-top: 60px;
    margin-bottom: 20px;
}

.contact-info h2 {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    display: none;
}

.contact-info h4 {
    font-size: 16px;
    font-weight: bold;
}

.contact-info h4, .contact-info p {
    text-align: center;
    color: #959697;
}

.contact-info.address {
    background: url(../images/icon/address.png) no-repeat top center / 40px;
}

.contact-info.address2 {
    background: url(../images/icon/sales-office.png) no-repeat center 0 / 50px;
}

.contact-info.phone {
    background: url(../images/icon/phone2.png) no-repeat center top / 40px;
}

.contact-info.email {
    background: url(../images/icon/email.png) no-repeat center 10px / 40px;
}

.aboutPage .aboutSection {
    padding-top: 50px;
    overflow: hidden;
}

.text-center p {
    text-align: center;
}

#retails-page .owl-item {
    max-height: 340px;
    overflow: hidden;
}

.resid-sections {
    position: relative;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
}
.resid-sections h2 {
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
    color: #FFFFFF;
    border-top: 3px solid;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    font-family: "akkurat_lightregular", Tahoma, Geneva, sans-serif;
}
.resid-sections img {
    transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -webkit-transition: all ease 0.8s;
}
a.resid-sections:hover img {
    transform: scale(1.1);
    opacity: 0.9;
}

/***************************************
 * SEARCH FORM
 */

#wrapper {
    max-width: 100%;
    overflow: hidden;
}

header>.container {
    position: relative;
}

.searchHolder {
    overflow: hidden;
    position: absolute;
    z-index: 111;
    top: 30px;
    right: 180px;
    left: 100%;
    background: #E8E8E8;
    /*transition: none;
      -webkit-transition: none;
      -moz-transition: none;*/
}

.sticky .searchHolder {
    top: 15px;
}

header .topLinks li.search.active {
    opacity: 0;
}

.searchHolder.active {
    left: 270px;
}

.search-conatiner {}

.search-conatiner form {
    margin: 0;
    height: 40px;
    position: relative;
}

.search-conatiner .search-input {
    width: 100%;
    background: transparent;
    border: none;
    padding: 0 50px;
    height: 100%;
    line-height: 100%;
    /*font-size: 17px;*/
    font-weight: bold;
    outline: none !important;
}

.search-btn {
    background: none;
    position: absolute;
    top: 0;
    left: 10px;
    width: 40px;
    height: 100%;
    border: 0;
    background: url(../images/search-icon.png) no-repeat center;
    outline: none !important;
}

.search-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: url(../images/search-close.png) no-repeat center;
}

@media (max-width: 767px) {
    .searchHolder {
        top: 100% !important;
        right: 0;
    }
    .searchHolder.active {
        left: 0;
    }
    header .topLinks li.search.active {
        opacity: 1;
    }
}

.pop-over {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999998;
    cursor: pointer;
    display: none;
}

.pop-content {
    position: fixed;
    z-index: 9999999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 850px;
    height: 490px;
    max-width: 95%;
    text-align: center;
    display: none;
}

.pop-content>img {
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 10px solid #c6c6c6;
    overflow: hidden;
}

.close-pop {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
    background: url(../images/icon/Close-button.png) no-repeat center;
}

.about-video {
    width: 100%;
    height: 450px;
}

.contentWithBGInner {
    background: #fff url('../images/pattern.png') no-repeat 0 0;
}

.switch {
    margin: 20px auto;
    text-align: center;
}

.switch h3 {
    font-weight: bold;
    display: inline-block;
    color: #dfdfdf;
    font-size: 25px;
}

.switch h3.active {
    color: #515251;
}

.divider {
    display: inline-block;
    width: 2px;
    height: 30px;
    vertical-align: bottom;
    background-color: #515251;
    margin: 0 15px;
}

.filters {
    margin-bottom: 20px;
}

.open button {
    margin: 0 0 -3px 0;
}

.open .dropdown-menu {
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    color: black;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
}

.dropdown-menu>li>a {
    color: #515251;
    padding: 5px 20px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #f0f0f0;
    color: #515251;
}

.dropdown .btn {
    background-color: #f0f0f0;
    color: #515251;
    font-size: 14px;
    font-weight: bolder;
    font-family: "akkuratregular", Tahoma, Geneva, sans-serif;
    position: relative;
    text-align: left;
    border: none;
    padding: 10px 15px;
    line-height: 1;
    margin: 0;
}

.dropdown .btn .caret {
    position: absolute;
    right: 4%;
    top: 45%;
}

.dropdown-menu>li>a {
    font-weight: lighter;
    line-height: 1;
    font-family: "akkuratregular", Tahoma, Geneva, sans-serif;
    font-size: 15px !important;
}

.galleryContent .col-md-4 {
    height: 250px;
    margin-bottom: 10px;
}

.galleryContent .item {
    height: 90%;
    position: relative;
    /*    background-color: #e7e7e7;*/
}

@media(max-width: 1200px) {
    .galleryContent .col-md-4 {
        height: 200px;
    }
}

@media(max-width: 1000px) {
    .galleryContent .col-md-4 {
        height: 180px;
    }
}

@media(max-width: 768px) {
    .galleryContent .col-md-4 {
        height: 150px;
    }
}

.galleryContent .item>div {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.galleryContent .item>div iframe, .galleryContent .item>div img {
    position: absolute;
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: .3s;
}

.galleryContent .item>div iframe {
    height: 100%;
}

.galleryContent .item-text {
    height: 10%;
}

.galleryContent .item-text p {
    margin: 0;
    font-weight: bold;
    line-height: 1;
    font-size: 12px;
    margin-top: 10px;
}

.galleryContent .item-text p.title {
    color: #4e5356;
}

.galleryContent .item-text p.date {
    color: #dfdfdf;
}

.contentWithBGInner .videos, .contentWithBGInner .photos {
    display: none;
}

.contentWithBGInner .activeShow {
    display: block;
}

.videoSection, .photosSection {
    cursor: pointer;
}

.filters .col-sm-6 {
    margin-bottom: 10px;
}

.bg-pattern {
    background-image: url(../images/bgkit.png);
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
}

@media screen and (max-width: 540px) {
    .contentWithBGInner {
        background: none;
    }
}

#myModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 80px;
    padding-bottom: 20px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.1);
    /* Black w/ opacity */
}

#myModal img.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    /*max-width: 550px;*/
    position: initial;
    height: auto;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: relative;
    top: 0;
    right: 50px;
    color: #b3b3b3;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 1;
    text-shadow: none;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

@media(max-width: 500px) {
    .pop-content {
        height: 300px;
    }
    .about-video {
        height: 200px;
    }
}

.photos p {
    font-weight: bold;
    text-transform: uppercase;
}

.margtop {
    margin-top: 20px;
}

.pressrelease p {
    white-space: nowrap;
    font-weight: 600;
    font-size: 1vw;
    margin-top: 5px;
}
/*
#park+div:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 2px solid #4E5356;
}*/

.pressrelease {
    padding: 25px 0 15px;
    position: relative;
    padding-right: 2px;
    border-bottom: 2px solid #4E5356;
}

.media{
    height: 87px;
    padding: 25px 0 15px;
    position: relative;
    padding-right: 2px;
    border-bottom: 2px solid #4E5356;
}
.col-md-6:last-child .media {
    /*border: none;*/
}

.media p {
    white-space: nowrap;
    font-weight: 600;
    font-size: 1vw;
    margin-top: 5px;
}
.media .images-holder a {
    position: absolute;
    top: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: opacity ease 0.2s;
    -webkit-transition: opacity ease 0.2s;
    -moz-transition: opacity ease 0.2s;
}
.media:hover .images-holder a {
    opacity: 1;
}

.media:hover .imgload {
    display: block;
}

.pressrelease .images-holder a {
    position: absolute;
    top: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: opacity ease 0.2s;
    -webkit-transition: opacity ease 0.2s;
    -moz-transition: opacity ease 0.2s;
}

#cityscape {
    margin-top: 20px;
}

.imgload {
    position: absolute;
    top: 7px;
    left: 21px;
    z-index: 20;
    display: none;
}
.imgload2 {
    top: 10px;
    right: 26px;
    position: absolute;
    z-index: 20;
    display: none;
}
.imgload3 {
    top: 33px;
    left: 7px;
    position: absolute;
    z-index: 20;
    display: none;
}

.news{
    border:none;
}
.news .imgload{
    top:33px;
}

.pressrelease:hover .images-holder a {
    opacity: 1;
}

.pressrelease:hover .imgload ,.pressrelease:hover .imgload2,.pressrelease:hover .imgload3{
    display: block;
}

.deactive {
    display: none;
}

.gallary-active {
    display: block;
}

.media-doc-section+.media-doc-section {
    border-top: 2px solid;
    padding-top: 40px;
    margin-top: 40px;
}
.media-doc-section .row:last-child .media {
    border: none;
}
.news p{
  margin-top: 12px;
}

@media (max-width:990px){
  .media p,.news p{
    font-size: 2vw;
  }
  .press p{
    font-size: 2vw;
    /*font-size:7px;*/

  }

  .imgload2{
    top: 10px;
    left: 21px;
  }
}

@media (max-width:440px){
  .imgload2{
    top: 6px;
    left: 20px;
    width: 28%;
  }
  .imgload3{
    top: 30px;
    left: 6px;
    width: 5%;
  }
}
.owl-bannerCarousel .owl-wrapper-outer.autoHeight {
    height: 600px !important;
}
.owl-carousel .owl-item img {
    height: 600px;
    object-fit: cover;
}    
.owl-carousel .owl-item {
    height: 600px !important;
    max-height: none !important;;
}

