/*
 screen and (max-width:480px)
 */

#banner {
    margin-bottom: 40px;
    margin: 0;
}

#banner .caption {
    position: static;
    margin-bottom: 40px;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

#banner h1 {
    font-size: 30px;
}

#banner p {
    font-size: 18px;
}

.headTitleHolder .headTitle:before,
.headTitleHolder .headTitle:after {
    width: 50px;
}

.owl-controls {
    display: none !important;
}

#carousel {
    left: -15px;
}

.contentWithBG.homePage .headTitleHolder {
    overflow: hidden;
}

.headTitle {
    font-size: 25px;
}

#carousel {
    display: none;
}

.imgload {
  top: 10px;
  left: 21px;
}
.media .imgload{
  /*top: -2px !important;
left: 11px !important;*/
    top: -1px;
    left: 13px;
}

.media p{
  font-size: 3vw;
}
/*.imgload2{
  top: -4px;
  left: 10px;
}
.imgload3{
  top: 22px;
  left: -5px;
}*/
