/*
screen and (min-width: 768px) and (max-width:991px)
*/

nav#nav .navbar-header {
    float: none;
}

nav#nav button.navbar-toggle {
    display: block;
    float: right;
}

nav#nav .navbar-collapse.collapse {
    display: none !important;
}

nav#nav .navbar-collapse.collapse.in {
    display: block !important;
}

.headTitleHolder .headTitle:before,
.headTitleHolder .headTitle:after {
    width: 125px;
}

/*.imgload {
    top: 25%;
    left: 6%;
}*/
.media .imgload{

}
.media .col-md-8{
    display:block;
}
