<div class="onoffswitch">
    
    <input type="checkbox" {checked} row_id="{id}" name="is_active" class="onoffswitch-checkbox" id="example{id}">
    
           <label class="onoffswitch-label" for="example{id}">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#example{id}").click(function () {
                var row_id = $(this).attr('row_id');

                var uri = "{url}" + row_id;
                $.ajax({
                    method: "GET",
                    url: uri,
                    success: function (result) {
                    }
                });

            });

        });
    </script>
</div>