<button class="btn btn-xs btn-outline btn-danger btn_row_id" id="delete{row_id}" row_id="{row_id}"><i class="fa fa-trash"></i> Delete</button>

<script type="text/javascript">
   $('#delete{row_id}').click(function (t) {
       var me = $(this);

       t.preventDefault();
    swal({
        title: "Are you sure?",
        text: "You will not be able to recover this imaginary file!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, delete it!",
        closeOnConfirm: false
    }, function () {
        me.parents('tr').fadeOut('slow' , function(){
            $(this).remove();
        })
        var row_id = me.attr('row_id');
        var uri = "{url}/"+row_id ;
        $.ajax({
            method:"GET", 
            url: uri,
            success:function(result){
            }
        }); 
        swal("Deleted!", "Successfully Delete", "success");
    });
});
</script>