<div class="uploader {css_classes}">
    <img src="./backend/images/loading.gif" style="display: none" id="upload-loading2"/>
    <img src="profile_picture" id="upload-image2" class="image-upload" width="120" height="120" />
    <br/>
    <a href="javascript:void(0)" class="file-input btn btn-primary">
        <input type="file" class="file btn-primary" id="upload-button2">
    </a>
</div>
<div id="upload-result2">
</div>

<script type="text/javascript">
$(document).ready(function (){
    $('#upload-button2').change(function (){
       var file_data = $(this).prop('files')[0];   
        var form_data = new FormData();                  
        form_data.append('file', file_data);
        //alert(form_data); 
        $('#upload-loading2').show();
        $('#upload-image2').hide();
        $.ajax({
            url: './ajax/upload', // point to server-side PHP script 
            dataType: 'text',  // what to expect back from the PHP script, if anything
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,                         
            type: 'post',
            success: function(response){
                var data=jQuery.parseJSON(response);
                //alert(response);
                if(data.status==='ok'){
                    $('#upload-loading2').hide();
                    $('#upload-image2').attr('src',data.data);
                    $('#upload-image2').show();
                    $('#upload-result2').html('<input type="hidden" name="image_profile" value="'+data.file+'"  />');
                }else{
                    $('#upload-result2').html('<div class="alert alert-danger alert-dismissible" role="alert">'+
                                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>'+
                                        ''+data.data+'.</div>');
                    $('#upload-loading2').hide();
                    $('#upload-image2').show();
                                    
                }
            }
        });
    });
});
</script>
