.contentWithBGInner {
    background: #fff url('../images/background_gallery.png') no-repeat 0 0;
}

.switch {
    margin: 20px auto;
    text-align: center;
}

.switch h3 {
    font-weight: bold;
    display: inline-block;
    color: #dfdfdf;
    font-size: 25px;
}

.switch h3.active {
    color: #515251;
}

.divider {
    display: inline-block;
    width: 2px;
    height: 30px;
    vertical-align: bottom;
    background-color: #515251;
    margin: 0 15px;
}

.filters {
    margin-bottom: 20px;
}

.open button {
    margin: 0 0 -3px 0;
}

.open .dropdown-menu {
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    color: black;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
}

.dropdown-menu>li>a {
    color: #515251;
    padding: 5px 20px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: #f0f0f0;
    color: #515251;
}

.dropdown .btn {
    background-color: #f0f0f0;
    color: #515251;
    font-size: 14px;
    font-weight: bolder;
    font-family: "akkuratregular", Tahoma, Geneva, sans-serif;
    position: relative;
    text-align: left;
    border: none;
    padding: 10px 15px;
    line-height: 1;
    margin: 0;
}

.dropdown .btn .caret {
    position: absolute;
    right: 4%;
    top: 45%;
}

.dropdown-menu>li>a {
    font-weight: lighter;
    line-height: 1;
    font-family: "akkuratregular", Tahoma, Geneva, sans-serif;
    font-size: 15px !important;
}

.galleryContent .col-md-4 {
    height: 250px;
    margin-bottom: 10px;
}

.galleryContent .item {
    height: 90%;
    position: relative;
    /*    background-color: #e7e7e7;*/
}

@media(max-width: 1200px) {
    .galleryContent .col-md-4 {
        height: 200px;
    }
}

@media(max-width: 1000px) {
    .galleryContent .col-md-4 {
        height: 180px;
    }
}

@media(max-width: 768px) {
    .galleryContent .col-md-4 {
        height: 150px;
    }
}

.galleryContent .item>div {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.galleryContent .item>div iframe,
.galleryContent .item>div img {
    position: absolute;
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: .3s;
}

.galleryContent .item>div iframe {
    height: 100%;
}

.galleryContent .item-text {
    height: 10%;
}

.galleryContent .item-text p {
    margin: 0;
    font-weight: bold;
    line-height: 1;
    font-size: 12px;
    margin-top: 10px;
}

.galleryContent .item-text p.title {
    color: #4e5356;
}

.galleryContent .item-text p.date {
    color: #dfdfdf;
}

.contentWithBGInner .videos,
.contentWithBGInner .photos {
    display: none;
}

.contentWithBGInner .activeShow {
    display: block;
}

.videoSection,
.photosSection {
  cursor: pointer;
  font-size: 25px !important;
}
.tabs {
  cursor: pointer;
  font-size: 20px !important;
}

@media screen and (max-width: 767px) {
    .filters .col-sm-6 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 540px) {
    .contentWithBGInner {
        background: none;
    }
}

#myModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 80px;
    padding-bottom: 20px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.1);
    /* Black w/ opacity */
}

#myModal img.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 550px;
    position: initial;
    height: auto;
}

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: relative;
    top: 0;
    right: 50px;
    color: #b3b3b3;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 1;
    text-shadow: none;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.contentWithBGInner .photos div.row {
    margin-right: 0;
    margin-left: 0;
}

.contentWithBGInner .photos div.row a {
    overflow: hidden;
}

.contentWithBGInner .photos div.row a img {
    width: calc(100% - 30px);
    overflow-y: hidden;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}