/*
 screen and (max-width:480px)
 */
#banner {
	margin-bottom: 40px;
	margin: 0;
}
#banner .caption {
	position: static;
	margin-bottom: 40px;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}
#banner h1 {
	font-size: 30px;
}
#banner p {
	font-size: 18px;
}
.headTitleHolder .headTitle:before, .headTitleHolder .headTitle:after {
	width: 50px;
}
.owl-controls {
	display: none !important;
}
#carousel {left: -15px;}
.contentWithBG.homePage .headTitleHolder {overflow: hidden;}
.headTitle {font-size: 25px;}
#carousel {display: none;}
